:root {
    --bg: #FAFAFA;
    --scroll: #637fa3;
    --link: #4160df;
    --shadow:#84B8D8FF;
}

body.dark{
    --bg: #18181B;
    --scroll: #637fa3;
    --link: #84b8d8;
    --shadow: #45677c;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #5464a0 #303030;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: var(--bg);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scroll);
    border-radius: 10px;
}

*{
    font-family: "Parkinsans", sans-serif;
}
body {
    /* font-family: 'Lato', sans-serif; */
    margin:0;
    padding: 0;
    width: 100%;
    height: 100dvh;
    background: var(--bg);
    overflow: hidden;
    -ms-overflow: hidden;
    display: flex;
    flex-direction: row;
}

ul,p{
    margin: 0;
    padding: 0;
}

.content {
    width: 100%;
    height: 100%;
    margin-left: 30px;
    color: var(--text-color-slidebar);
    overflow-x: hidden;
    -ms-overflow-x: hidden;
}


.page-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:10px;
}


.page-section .page-section-title{
    font-size: var(--font-size-big);
    font-weight: bold;
}


.geometric-box {
    display: flex;
    position: relative;
    width: 20px;
    height: 20px;
    background-color: var(--primary-color);
    transform-origin:center;
    align-items: center;
    justify-content:center ;
    rotate: -45deg;
}

.line{
    border-top: 3px solid var(--text-color-slidebar);
    position: relative;
    background: black;
    width: 20vw;
    top:10px;
    z-index: 3;
}

.geometric-box:after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border: 3px solid var(--text-color-slidebar);
    left: -5px;
    top: -5px;
}

.page-section .page-section-content {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    /* align-items: center; */ /*pentru cv continutul era pe mijloc*/
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;

}

.page-section-content p,
.page-section-content p span,
.page-section-content p a{
    padding: 5px;
    font-size: var(--font-size-medium);

}
.page-section-content p a{
   text-decoration: none;

}


/* ===== Clase generale pt a efectua operatii asupra textului ===== */
.nowraptext{
    text-wrap: nowrap;
}

.bold{
  font-weight: bold;
}

.italic{
  font-style: italic;
}

.link{
    color: var(--link);
}

.big{
    font-size: var(--font-size-big);
}

.medium{
    font-size: var(--font-size-medium);
}

.small{
    font-size: var(--font-size-small);
}


@media screen and (max-width: 500px){
    .page-section .page-section-title{
        font-size: var(--font-size-medium);
    }
    .page-section-content p,
    .page-section-content p span,
    .page-section-content p a{
        font-size: var(--font-size-small);

    }
}
