.job {
    width: 90%;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    border-bottom: 1px solid #ccc;
}

.job .year {
    align-self: flex-end;
    font-size: 1.7vmax;
}

.job .where {
    font-weight: bold;
    font-size: 1.7vmax;
}

.job .where p{
    font-weight: initial;
    font-size: 1.2vmax;
}

@media(max-device-width:500px) {
    .job .where, .job.year{
        font-size: 1.2vmax;
    }
    .job .where p{
        font-size: 1vmax;
    }
}