
.job {
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 2%;
    border-bottom: 1px solid #ccc;
}

.job .year {
    align-self: flex-start;
    font-size:var(--font-size-big);
}

.job .where, .project .title{
    font-size:var(--font-size-big);
}

.job .where p{
    font-weight: initial;
    font-size: var(--font-size-medium);
}
.page-section-content p{
    font-size: var(--font-size-big);
}

.project{
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    border-bottom: 1px solid #ccc;
}

.project p{
    font-weight: initial;
    display: initial;
    font-size:var(--font-size-medium);
}

.project .title{
    display: initial;
}
.project p,
.title a{
    padding: 5px;

}
.title a{
    text-decoration: none;
}

@media screen and (max-width: 500px) {
    .page-section-content p{
        font-size: var(--font-size-medium);
    }
    .job .where, .job .year, .project .title{
        font-size: var(--font-size-medium);
    }
    .job .where p, .project p{
        font-size: var(--font-size-small);
    }
}