*{
    --title-font-size: 1.6vmax;
    --p-font-size: 1.4vmax;
    --title-font-size-little: 1.2vmin;
    --p-font-size-little: 1vmin;
}
.job , .project{
    width: 90%;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    border-bottom: 1px solid #ccc;
}

.job .year {
    align-self: flex-end;
    font-size:var(--title-font-size);
}

.job .where, .project .title{
    font-weight: bold;
    font-size:var(--title-font-size);
}

.job .where p{
    font-weight: initial;
    font-size: var(--p-font-size);
}
.project p{
    font-weight: initial;
    display: initial;
    font-size:var(--p-font-size);
}

.project .title{
    display: initial;
}
.project p,
.title a{
    padding: 5px;

}
.title a{
    text-decoration: none;
}

@media(max-width: 500px) {
    body {
        background-color: red;
    }
    .job .where, .job .year{
        font-size: var(--title-font-size-little);
    }
    .job .where p{
        font-size: var(--p-font-size-little);
    }
}