
* {
    --box-height: 6dvh;
    --box-width: 10dvw;
    --before-coef-height: 5;
    --before-coef-hover-height: 4;
    --before-coef-hover-width: 2;
    --before-coef-width: 1.1;
}


.page-section .page-section-content{
    width: 90%;
    flex-direction: row;
}

.page-section .page-section-content .section-text {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2%;
    flex: 1;
}

.page-section-content .section-text p,
.page-section-content .section-text p span,
.page-section-content .section-text p a {
    padding: 5px;
    font-size: var(--font-size-medium);

}

.page-section-content .section-text p a {
    text-decoration: none;

}

.page-section-content .image {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex: 1;

}

.page-section-content .image img {
    max-width: 300px;
    width: 25%;
    height: 25%;
    /*min-height: 400px;*/
    height: auto;
    align-self: center;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px var(--shadow);
}


@media screen and (max-width: 600px) {

    .page-section .page-section-content {
        height: auto;
        flex-direction: column;
    }

    .page-section .page-section-content .row.section-text {
        width: 100%;
        height: fit-content;
        order: 2;
        margin: 7%;
    }

    .page-section-content .row.image {
        align-self: center;
        width: 100%;
        order: 1;
    }

    .page-section-content .row.image img {
        margin-top: 10px;
        width: 100%;
        min-height: 200px;
    }

}



