
* {
    --box-height: 50px;
    --box-width: 10vw;
    --before-coef-height: 5;
    --before-coef-hover-height: 6;
    --before-coef-hover-width: 1.4;
}


.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
    width: 95%;
    height: fit-content;
    margin: 3%;
}

.cards .boxs {
    position: relative;
    width: var(--box-width);
    height: var(--box-height);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 30px;
    transition: 0.5s;
}

.cards .boxs::before {
    content: ' ';
    position: absolute;
    align-self: auto;
    width: var(--box-width);
    height: calc(var(--before-coef-height) * var(--box-height));
    text-decoration: none;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
}

.cards .boxs::after {
    content: '';
    position: absolute;
    align-self: auto;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
    filter: blur(30px);
}

.cards .boxs:hover:before,
.cards .boxs:hover:after {
    transform: skewX(0deg);
    width: calc(var(--before-coef-hover-width) * var(--box-width));
    height: calc(var(--before-coef-hover-height) * var(--box-height));
    align-self: center;

}

.cards .boxs:nth-child(1):before,
.cards .boxs:nth-child(1):after {
    background: linear-gradient(315deg, #7facf3, #59d8f5)
}

.cards .boxs:nth-child(2):before,
.cards .boxs:nth-child(2):after {
    background: linear-gradient(315deg, #79d1fa, #7facf3)
}

.cards .boxs:nth-child(3):before,
.cards .boxs:nth-child(3):after {
    background: linear-gradient(315deg, #8fd9f0, #59d8f5)
}

.cards .boxs:nth-child(4):before,
.cards .boxs:nth-child(4):after {
    background: linear-gradient(315deg, #59d8f5, #8fd9f0)
}

.cards .boxs:nth-child(5):before,
.cards .boxs:nth-child(5):after {
    background: linear-gradient(315deg, #7facf3, #79d1fa)
}


.cards .boxs .info {
    position: relative;
    left: 0;
    padding: 20px 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1;
    min-height: 100%;
    min-width: 100%;
    text-wrap: normal;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.35);
    border-width: 1px;
}

.cards .boxs:hover .info {
    padding: 15px 10px;
}

.cards .boxs .info h2 {
    font-size: var(--font-size-big);
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}


.cards .boxs .info a {
    display: inline-block;
    position: relative;
    font-size: var(--font-size-medium);
    color: var(--text-color-slidebar);
    background: var(--primary-color-light);
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.35);
    border-width: 2px;
}


.cards .boxs .info a:hover {
    background-color: var(--primary-color);
}

.page-section .page-section-ab-content {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.page-section .page-section-ab-content .section-text {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2%;
    flex: 1;
}

.page-section-ab-content .section-text p,
.page-section-ab-content .section-text p span,
.page-section-ab-content .section-text p a {
    padding: 5px;
    font-size: var(--font-size-medium);

}

.page-section-ab-content .section-text p a {
    text-decoration: none;

}

.page-section-ab-content .image {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex: 1;

}

.page-section-ab-content .image img {
    max-width: 300px;
    width: 100%;
    min-height: 400px;
    height: auto;
    align-self: center;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px var(--shadow-color);
}


@media screen and (min-width: 500px) and (max-width: 900px) {
    .cards .boxs::before {
        height: calc((var(--before-coef-height) - 2) * var(--box-height));
    }
}

@media screen and (max-width: 500px) {
    .cards .boxs::before {
        height: calc((var(--before-coef-height) - 1) * var(--box-height));
    }
}

@media screen and (max-width: 600px) {
    .cards .boxs::before {
        height: calc((var(--before-coef-height) - 1) * var(--box-height));
    }

    .page-section .page-section-ab-content {
        height: auto;
        flex-direction: column;

    }

    .page-section .page-section-ab-content .section-text {
        width: 100%;
        height: fit-content;
        order: 2;

    }

    .page-section-ab-content .image {
        align-self: center;

        width: 100%;
        order: 1;
    }

    .page-section-ab-content .image img {
margin-top: 10px;
        width: 100%;
        min-height: 200px;

    }


}



