.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.publication{
    align-self: center;
    width: 90%;
    font-size: var(--font-size-medium);
    border-bottom: 1px solid #ccc;
}
.information{
    color: var(--text-color-slidebar);
    font-weight: 200;
    font-size: var(--font-size-medium);
    margin: 1%;
}
.publication span{
    margin: 0;
    padding: 0;
}

.nowraptext{
    text-wrap: nowrap;
}
@media screen and (max-width: 600px) {
    .publication, .information{
        font-size: var(--font-size-big);
    }
}